@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url('https://fonts.googleapis.com/css?family=Karla');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html{ 
    height: 100%;
    width: 100%;
    
}
body{
    height: 70%;
    width: 100%;
        background-image:    url(http://res.cloudinary.com/daux0yfpi/image/upload/c_scale,h_615,q_auto:best/v1504266790/pic_vogyyz.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
#main{
    position: fixed;
    width: 100%;
    height:100%;

}

/************************************
***********************************
***********************************
************************************/



#connectBtn{
    margin: 0 auto;
    margin-top: -25px;
    margin-left: 1em;
    width:12em;
    height: 3em;
    background: #FFC107;
    color:white;
    letter-spacing: 1px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
#connectBtn:hover,#connectBtn2{
    background: #FFA000;
}
#left-title{
    font-size: 35px;
    line-height: 40px;
    color: #FFC107;
    font-weight: 600;
    text-align: center;
    font-family: 'Karla', sans-serif;
    letter-spacing: -1px;
    text-shadow: 1px 1px black;
}
#right-title{

    margin-top:70px;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    color:white;
    font-weight: 600;
    text-align: center;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

#social-container:hover{
    cursor:pointer;
}
#connectBtn-mobile{
    display:none;
}

#my-signin2{
    margin-top: 10px;
}



/*+++++++++++++++++++*/

#login-box {
    padding: 0;
    background: #DDD;
    font-size: 16px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 450px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    filter:progid:DXImageTransform.Microsoft.dropshadow(
        OffX=2px, OffY=4px, Color='black', Positive='false'
        ); /* IE 5.5 */ 
    border-collapse: separate; /* Required by IE 9 */
    box-sizing: border-box;
    background:rgba(255,255,255, 0.25);
    background-size: cover;
    background-position: center;
    border-radius: 40px 40px 40px 40px;
}
.abcRioButtonContentWrapper  { 
    margin: 0 auto;
}
.abcRioButtonBlue{
    margin: 0 auto;
}
.abcRioButton{
    margin: 0 auto;
}
.left {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    padding-top:30px;
    width: 300px;
    height: 450px;
}

.orLogo {

    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
   -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

filter:progid:DXImageTransform.Microsoft.dropshadow(
    OffX=2px, OffY=4px, Color='black', Positive='false'
); /* IE 5.5 */ 
border-collapse: separate; /* Required by IE 9 */
    line-height: 40px;
    text-align: center;
    font-family: 'Karla', sans-serif;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    padding-top: 40px;
    width: 300px;
    height: 450px;
    border-left: solid .5px whitesmoke;
    text-align: center;
    border-radius: 40px 40px 40px 40px;
    color: whitesmoke;
}

#left-title-mobile{
    display:none;
}

#fb{
    margin-top: 0px;
    margin-left: 10px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.form-label{
    color: white;
    font-size: 15px;
    font-weight: 100;
    display: inline;
    text-align: right;
    margin-left: 5px;
    position: relative;
    text-shadow: .5px .5px #FFC107;
}
#radio-btn{
    position: relative;
    display: inline;

}


/*** ** ** ** ** **  FORM ** ** ** ** ** ** **/


#user_name{
    margin-top: 20px;
    height:40px;
}
#email{
    margin-top: -3px;
    height:40px;
}
#select-choice-age{
    width: 15.70em;
    height: 3em;
    margin-top: -3px;
}
#plan{
    width: 100%;
    margin-top: -9px;
    text-align: center;
    height: 40px;
}
#terms-label{
color: white;
font-size: 15px;
text-shadow: 1px 1px black;
cursor:pointer;

}
#terms-checkbox{
margin-top: -50px;
margin-left: 90%;

}

/*** ** ** ** ** ** LOADER ** ** ** ** ** ** */
.loading-cover{
    width: 100%;
    height: 120%;
    z-index:2;
    position:absolute;
    background:rgba(255,255,255, .7);
}
.hexa-loader{
    z-index: 5;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
     -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform:translate(-50%,-50%);

}
#email_msg_window{
    width: 10em;
    height: auto;
    margin-top:-78px; 
    margin-left:13em;
    background:black;
    padding: 5px;
    border-radius: 10px;
    /*    border: solid 1px #FFC107;*/
    position: absolute;
    z-index: 1;
    text-align: center;

}

#email_msg_window p{
    color: white;
    /*    text-shadow: .5px .5px red;*/
    font-size: 13px;
    font-weight: 300;
    padding: 2px;
}


/*************  *** Publicity *******  * ** *  */
#banner-abc{
    width: 20em;
    position: relative;
    display: block;
/*    margin-left: -1em;*/
}

@media (max-width: 430px) {
    #banner-abc{
        width: 30em;
        position: relative;
        display: block;
        position: fixed;
        z-index: 3;
        margin-top: 3.5em;
        margin-left: 50%;

        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform:translate(-50%,-50%);
    }
}


/*** ** ** ** ** ** * ** ** Terms & Agree.  ** * ** ** ** ** ** * ** */

#terms-box-frame{
display: none;
    width: 40em;
    height: 30em;
    margin-left: 48%;
    margin-top:-25em;
    transform: translate(-50%,-50%);
     -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform:translate(-50%,-50%);

    position: absolute;

}
#terms-box{
    z-index: 10;
    overflow: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    color:#ffffff;   
    z-index: 36;     
    /*    background-color:rgba(000,000,000, 0.75);    */

    padding-top: 35px;
    border-radius: 20px;
    position: relative;
    padding :15px;
   

}

#terms-text {
    padding :15px;
    position: absolute;
    color:black;    
    font-size: 11px;
    z-index: 36;     
    background-color:white;

}

#x-icon{
    cursor:pointer;
    z-index: 11;
    float:right;
    width: 3em;
}

