*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height:106%;

}
#main{
    /*    margin-top: -20px;*/
    padding-left: 0px;
    position: absolute;
    width: 100%;
    height:100%;
    /*    background-image:    url(../images/pic.jpg);
        background-size:     cover;                       <------ 
        background-repeat:   no-repeat;
        background-position: center center;     */
}

#login-box {
    display: block;
    height: auto;
    position:absolute;
    width: 100%;
    background:transparent;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    filter:progid:DXImageTransform.Microsoft.dropshadow(
        OffX=2px, OffY=4px, Color='black', Positive='false'
        ); /* IE 5.5 */ 
    border-collapse: separate; /* Required by IE 9 */
    margin:0px;
    border-radius: 0px;
}
#form{
    /*    border:solid 1px white;*/
    height: auto;
    padding:0px;
    width: 100%;
    margin-top: 0px;
}

/***** ** ** ** ** ** ** ** ** FORM ** ** ** ** ** ** ** ** ** ** ** ** * */

#user_name{
    font-size: 20px;
    width: 90%;
    margin-left:5%;
    height: 2.5em;
}
#email{
    width: 90%;
    margin-left:5%;
    margin-top: -3px;
    height:40px;
    font-size: 20px;
    height: 2.5em;
}
.email-invalid{
    border: solid 1px red;
    background-color: #ff9999;

}
#select-choice-age{
    font-size: 20px;
    width: 90%;
    height: 2em;
    margin-top: -3px;
    margin-left:5%;    
    height: 2.5em;
}

#plan{
    width: 90%;
    margin-top: -7px;
    margin-left:5%;   
    text-align: center;
    height: 3.5em;
}

.left {
    border-top: solid 1px white;
    position: relative;
    top: 25em;
    box-sizing: border-box;

    width: 100%;
    /*    height:200px;*/
    padding: 3em;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
}
#left-title{
    display:none;
}
#left-title-mobile{
    margin-top: 0px;
    display: initial;
    letter-spacing: 1px;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    line-height: 50px;
    color: #FFC107;
    font-weight: 400;
    text-shadow: 1px 1px black;
}

.right {
    position:relative;
    border: none;
    box-sizing: border-box;
    width: 100%;
    height:50%;
    padding: 0px;
    text-align: center;
    margin-top: -20em;
    border-radius: 0px  0px 0px 0px;
    color: whitesmoke;
    background:rgba(0,0,0, 0);
}
#right-title{
    display: none;

}
.orLogo {
    display: none;
    position: relative;
    margin-top: 8em;
    margin-right: 100px;
    transform: translate(-80%,-50%);
    position: absolute;
    margin-left: -5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

    filter:progid:DXImageTransform.Microsoft.dropshadow(
        OffX=2px, OffY=4px, Color='black', Positive='false'
        ); /* IE 5.5 */ 
    border-collapse: separate; /* Required by IE 9 */
}
#social-container{
    height: auto;
    padding:0px;
    width: 100%;
    margin-top: -1em;

}
.abcRioButtonContentWrapper  { 
    margin: 0 auto;

}
.abcRioButtonBlue{
    margin: 0 auto;
    margin-top: 5px;
}
.abcRioButton{
    margin-top: 5px;
    margin: 0 auto;
}
#my-signin2{
    margin-top: 10px;
    /*    margin-top:3em;
     margin-left: 12em;
        position: relative;
        text-align: center;
        transform:translate(-50%,-50%);*/

}

#fb{
    width: 70%;
    position: relative;
    top:25px;
}
#fb:hover{
    cursor:pointer;
}
#connectBtn{

    display:none;
}
#connectBtn-mobile{
    display: initial;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 0%;
    transform: translate(10%,-50%);
    -webkit-transform: translate(10%,-50%);
    position:absolute;
    width:55%;
    margin-left: 15%;
    height: 2.5em;
    background: #FFC107;
    color:white;
    letter-spacing: 0px;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    /*    z-index: 3;*/
    line-height: 20px;
}

#fb-root{
    margin-top: 40px;
    margin-bottom: 10px;
}
#email_msg_window{
    width: 10em;
    height: auto;
    margin-top:-70px; 
    margin-left:13em;
    background:black;
    padding: 5px;
    border-radius: 10px;
    /*    border: solid 1px #FFC107;*/
    position: absolute;
    z-index: 1;
    text-align: center;
}

.hexa-loader{
    z-index: 5;
    position: absolute;
    top:55%;
    left:50%;
    transform:translate(-50%,-50%);

}

/** * *** ** * ** ** ** **  *** Publicity *******  * **** ** **  *  */
@media (max-width: 680px) {
    #banner-abc{
        width: 20em;
        position: relative;
        display: block;
        position: fixed;
        z-index: 3;
        margin-top: 3.5em;
        margin-left: 50%;
        transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform:translate(-50%,-50%);
    }
}
@media (max-width: 430px) {
    #banner-abc{
        width: 30em;
        position: relative;
        display: block;
        position: fixed;
        z-index: 3;
        margin-top: 3.5em;
        margin-left: 50%;

        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform:translate(-50%,-50%);
    }
}


/*** ** ** ** ** ** * ** ** Terms & Agree.  ** * ** ** ** ** ** * ** */


#terms-label{
    margin-left: 5%;
    color: white;
    margin-left:5%;   
    font-size: 1em;
    text-shadow: 1px 1px black;
    text-align: left;
    cursor: pointer;


}
#terms-checkbox{
    display: inline;
    /*    margin-top: -2em;
        margin-left:4em;   */

}
#terms-box-frame{
    display: none;
    width: auto;
    height: auto;


    width: 90%;
    height: 60%;     
    margin-left:10%;
    margin-top: 40em;
    margin-left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;

}
#terms-box{
    z-index: 10;
    overflow: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    color: black; 
    z-index: 36;     
    padding-top: 35px;
    position: relative;
    padding :15px;

}

#terms-text {
    padding :15px;
    position: absolute;
    color:black;
    font-size: 11px;
    z-index: 36;     
    background-color:white;
    -webkit-box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 25px 25px black;


}

#x-icon{

    z-index: 11;
    float:right;
    width: 3em;
}
