.ui-tabs.ui-tabs-vertical {
    padding: 0;
    border: none;
    width: 100%;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 9em;
/*    background: #CCC;*/
/*    border-radius: 4px 0 0 4px;
    border: 1px solid gray;*/
    
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0.2em 0;
/*    border: 1px solid gray;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;*/
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.6em 1em;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px solid white;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 83%;
/*    border-left: 1px solid gray;*/
    border-radius: 0;
    position: relative;
    left: -1px;
}

.ui-tabs .ui-tabs-nav{
    background-color: #fff;
}

/*LOADING*/ 

@keyframes rotate {0%{transform:rotate(360deg)}}
@keyframes wink {50%{opacity:0}}
.spinner{
  width:7em;
  margin:3em auto;
	position:relative;
  &:before{
		content:"";
		display:block;
    width:7em;
    height:1em;
    margin:3em auto;
    padding:3em 0;
    border-radius:50%;
    border:2px solid #2f416f;
    border-top:2px solid transparent;
    border-bottom:2px solid transparent;
    animation:rotate 1s ease infinite;
  }
  &:after{
    content:"Loading";
    position:absolute;
		top:0;
    color:#2f416f;
    font:.9em sans-serif;
    width:8em;
    line-height:8em;
    text-align:center;
    animation:wink 1.4s ease infinite;
  }
}
