<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <p:dataTable var="user" value="#{facebook.dataTable}" resizableColumns="true">
        <p:column headerText="Id" width="15">
            <h:outputText value="#{user.sysid}" />
        </p:column>

        <p:column headerText="IP" width="15">
            <h:outputText value="#{user.ip}" />
        </p:column>

        <p:column headerText="MAC" width="15">
            <h:outputText value="#{user.macAddress}" />
        </p:column>

        <p:column headerText="FB id">
            <h:outputText value="#{user.facebookid}" />
        </p:column>
        
            <p:column headerText="Plan">
                <h:outputText value="#{user.plan}" />
        </p:column>

        <p:column headerText="First Name">
            <h:outputText value="#{user.firstname}" />
        </p:column>

        <p:column headerText="Last Name">
            <h:outputText value="#{user.lastname}" />
        </p:column>

        <p:column headerText="Gender">
            <h:outputText value="#{user.gender}" />
        </p:column>

        <p:column headerText="Age">
            <h:outputText value="#{user.birthday}" />
        </p:column>

        <p:column headerText="Locale">
            <h:outputText value="#{user.locale}" />
        </p:column>

        <p:column headerText="Updated Time">
            <h:outputText value="#{user.updatedtime}" />
        </p:column>

        <p:column headerText="URL">
            <h:outputText value="#{user.url}" />
        </p:column>
        
        
        <p:column headerText="Requested URL" width="15">
            <h:outputText value="#{user.requestedUrl}" />
        </p:column>

        <p:column headerText="FB Verified">
            <h:outputText value="#{user.verified}" />
        </p:column>

    </p:dataTable>

</ui:composition>
