<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <p:dataTable var="user" value="#{form.dataTable}" resizableColumns="true">
        <p:column headerText="Id" width="15">
            <h:outputText value="#{user.sysid}" />
        </p:column>
        
         <p:column headerText="IP" width="35">
             <h:outputText value="#{user.ip}" />
        </p:column>
        
         <p:column headerText="Mac Address" width="45">
             <h:outputText value="#{user.macAddress}" />
        </p:column>
               

        <p:column headerText="Name" width="5%">
            <h:outputText value="#{user.username}" />
        </p:column>

        <p:column headerText="Email" width="45">
            <h:outputText value="#{user.email}" />
        </p:column>

        <p:column headerText="Age" width="45">
            <h:outputText value="#{user.age}" />
        </p:column>
        
         <p:column headerText="Requested URL" width="45">
             <h:outputText value="#{user.requestedUrl}" />
        </p:column>
        
        <p:column headerText="Plan" width="45">
            <h:outputText value="#{user.plan}" />
        </p:column>

    </p:dataTable>

</ui:composition>
