<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <p:dataTable var="user" value="#{google.dataTable}" resizableColumns="true">
        <p:column headerText="Id" width="15">
            <h:outputText value="#{user.sysid}" />
        </p:column>
        
        <p:column headerText="IP" width="15">
            <h:outputText value="#{user.ip}" />
        </p:column>
        
        <p:column headerText="MAC" width="15">
            <h:outputText value="#{user.macAddress}" />
        </p:column>

        <p:column headerText="Plan" width="15">
            <h:outputText value="#{user.plan}" />
        </p:column>
        <p:column headerText="GoogleId">
            <h:outputText value="#{user.googleid}" />
        </p:column>

        <p:column headerText="Given Name">
            <h:outputText value="#{user.givenname}" />
        </p:column>

        <p:column headerText="Family Name">
            <h:outputText value="#{user.familyname}" />
        </p:column>

        <p:column headerText="Full Name">
            <h:outputText value="#{user.fullname}" />
        </p:column>

        <p:column headerText="Email">
            <h:outputText value="#{user.email}" />
        </p:column>
       
        <p:column headerText="Requested URL" width="15">
            <h:outputText value="#{user.requestedUrl}" />
        </p:column>
        
        <p:column headerText="Img URL">
            <h:outputText value="#{user.imageurl}" />
        </p:column>
    </p:dataTable>

</ui:composition>
