<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>
        <title>AC FREE WIFI- CRM System</title>

        <link rel="stylesheet" type="text/css" href="resources/css/form/form.css"></link>
        <link rel="stylesheet" type="text/css" href="resources/css/form/jquery-loading.css"></link>
        <link rel="stylesheet" type="text/css" href="resources/css/form/jquery-loading.min.css"></link>

    </h:head>
    <h:body>
        <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
        <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>        
        <script src="resources/js/form/jquery-loading.js"></script>
        <script src="resources/js/form/main.min.js" type="text/javascript"></script>
        <br/>

                <div id="tabs">
                    <ul>
                        <li>
                            <a href="#a">Facebook</a>
                        </li>
                        <li>
                            <a href="#b">Google</a>
                        </li>
                        <li>
                            <a href="#c">Form</a>
                        </li>
                    </ul>
                    <div id="a">
                          <ui:insert  name="facebook">
                            <ui:include src="resources/sections/facebookTable.xhtml" />
                        </ui:insert>
                    </div>
                    <div id="b">
                       <ui:insert  name="google">
                            <ui:include src="resources/sections/googleTable.xhtml"  />
                        </ui:insert>
                    </div>
                    <div id="c">
                       <ui:insert  name="form">
                            <ui:include src="resources/sections/formTable.xhtml"  />
                        </ui:insert>
                        
        
                    </div>       
                </div>

                  
        <script>$('#tabs')
                                .tabs()
                                .addClass('ui-tabs-vertical ui-helper-clearfix');       
                      $(document).ready(function () {
                        
                          $("#hide").click(function () {
                              $('.card').loading({hide: true});
                              $('.card').hide();
                          });

                      });
        </script>


    </h:body>
</html>

